	::-webkit-scrollbar { 

	}
	#cf-container {
		width:960px;
		overflow:hidden;
	}
	
	#cf-container h1, h2, h3 {
		font-family:"helvetica neue",helvetica,san-serif;
	}
	

	
	#cf-header {
		display:none;
		border-bottom: double 10px #4c5b52;
		padding:0 0 10px 0;
	}
	
	#cf-header h1 {
		font-size: 1.7em;
		color:#4c5b52;
	}
	
	#cf-header h4 {
		font-family:"helvetica neue",helvetica,san-serif;
		font-weight:300;
		margin:5px 0 20px 0 !important;
		font-size:1em;
	}
	
	#loading {
		display:block;
		height:300px;
		width:620px;
		text-align:center;
		margin:100px 0;
	}
	

	#loading h1 {
		font-size:8em;
	}


	#loading p {
		font-family:"helvetica neue",helvetica,san-serif;
		font-size:3em;
	}


	#cand-nointerface {
		display:none;
	}

	#cf-stacked {
		display:none;
	}

	#cf-legend, #cf-ie-legend {
		width:960px;
		height:100px;
	}

	.cf-ie-legend-opt, .cf-legend-opt {
		width:51px;
		height:15px;
		padding:5px;
		float:left;
		margin:0 20px;
		border:1px solid #8c9b93;
	}

	.cf-legend-opt p, .cf-ie-legend-opt p {
		text-align:center;
		font-size:10px;
		font-weight:400;
		color:#666;
		margin:30px 0 0 0;
	}

	.stacked-bar-chart, .ie-bar-chart {
		width:960px;
		padding:0 0 10px 0;
	}

	.stacked-bar-chart .bar-data, .ie-bar-chart .bar-data {
		width:600px;
	}

	.bar-seg {
		height:30px;
		float:left;
	}

	.the-label {
		color: #4c5b52;
	}
	

/* --------CF OVERVIEW--------  */
	#cf-container h2 {
		font-size:24px;
		margin:0 0 20px 0;
	}

	#cf-text {
		padding:20px 0 20px 0;
		border-bottom:solid 2px #4c5b52;
		line-height: 20px;
	}	

	#cand-chart {
		height:1px;
		border-bottom:solid 2px #4c5b52;
		border-top:10px double #4c5b52;
		visibility:hidden;
	}
	#cf-chart {
		border-bottom:double 10px #4c5b52;
		visibility:hidden;
		overflow-y: hidden;
		overflow-x: hidden;
	}	

	.mobile-only {
		display:none;
	}

	#cf-mobile-choose {
		width:100%;
		height:50px;
	}
	
	#cf-mobile-choose p, [name="mobile-sub-nav"] {
		display:none;
		font: 400 .75em "helvetica neue";
		padding: 10px;
		color: #333;
		background: #aaa;
		float: left;
		margin: 0 10px;
		border-radius: 10px;
	}
	
	
	#cf-mobile-choose p:active, [name="mobile-sub-nav"]:active {
		background:#555;
	}

	#cf-choose {
		margin:10px 0 0 0;
		height:60px;
		visibility:hidden;
	}
	
	#stacked-options, #expenses-options, #ie-options {
		visibility:hidden;
	}

	#cf-choose-text {
		width:960px;
		height:24px;
	}
	
	#cf-choose-text h4 {
		float:left;
		margin:0 0 0 0;
		font: 400 .8em "helvetica neue";
	}
	
	.cf-iframe-hold {
		z-index:0;
	}

	#cf-choose-text h4:last-of-type {
		margin:0 0 0 75px;
		display:none;
	}

	#cf-draw {

	}

	#cf-summary {
		padding: 0 0 25px 0;
	}

	#cf-iframe iframe {
		/*border-bottom:1px solid #aaa;*/
	}

	#cf-contribute {
		display:none;
		width:960px;
	}

	#cf-geography, #cf-expenses, #cf-achieve, #cf-employ {display:none;}


	.cf-detail {
		width: 200px;
		border: dashed 2px #4c5b52;
		float:left;
		padding: 0px;
		margin: 0 10px 0 0;
		cursor: pointer;
		background: #F8F7F1;
		text-align: center;
	}

	.cf-detail:hover {
		border:solid 2px #4c5b52;
	}

	.cf-detail p {
		color:#4C5B52;
		font-weight:900 !important;
		background:#d3d3d3;
	}

	.bar-chart {
		width:960px;
		min-height:200px;
	}

	.cf-head {
		width:960px;
		height:145px;
		margin:15px 0 40px 0;
	}
	
	.cf-stack-head, .cf-ie-head {
		width:960px;
		height:265px;
	}

	.cf-title {
		width:960px;
	}

	.cf-title h2 {
		margin:0 0 0 0 !important;
		font-size:1.5em;
		font-weight:400;
		color:#4c5b52;
	}

	.bar-row, .stacked-bar-row,.ie-bar-row {
		height:30px;
		margin:0 0 10px 0;

	}
	
	.ie-bar-row-overview {
		height:30px;
	}
	
	.ie-overview-label {
		margin:-5px 0 0 0 !important;
		color: #4c5b52;
	}
	
	.bar-buffer {
		margin:0 0 25px 0;
	}

	.pointer {
		cursor:pointer;

	}


	.bar-label {
		font-size:12px;
		text-align:right;
		border-right:1px solid #8c9b93;
		padding:0 10px 0 0;
		height:100%;
		float:left;
		margin:0 0 0 0;

	}
	
		.bar-label a {
			text-decoration:none;
			color:#4c5b52;
		}
		
		.bar-label a:hover {
			color:#29312c;
			text-decoration:underline;
		}

		.bar-label p {
			margin:8px 0;
		}

	.bar-data, .ie-bar-data {
		width:0;
		height:30px;
		float:left;
	}

		.bar-data p {
			text-align:right;
			font-size:14px;
			margin:6px 5px 6px 0;
			color:#333;
			font-weight:700;
		}
		
		
		#cf-ie .bar-data p {
			position: relative;
			right: 0px;
			top: -24px;
			margin:0;
			height:0;
		}
		
		#cf-ie .ie-bar-row-overview .bar-data p {
			position: relative;
			right: 0px;
			top: 6px;
			margin:0;
			height:0;
		}
		
		.interest-total {
			text-align: right;
			font-size: 14px;
			margin: 6px 5px 6px 0;
			color: #4c5b52 !important;
			font-weight: 400 !important;
		}

	.chart-h4 {
		text-align: center;
		font-size: 36px;
		color: #91cf60;
	}

	.cf-infobox {
		float:left;
		width:280px;
		height:auto;
		margin:10px 10px 10px 10px;
		padding:8px;
		border:2px solid #8c9b93;
	}	

		.cf-infobox h4 {
			font-weight:400;
			font-size:18px;
			margin-bottom:10px;
		}

		.cf-infobox li span:first-of-type {
			font-weight:700;
		}


	#cf-industry, #cf-industry .drill-bar-chart {
		display:none;
	}

	.chart-footer {
		font-style:italic;
		font-size:10px;
		color:#666;
		margin:30px 0 15px 0;
	}
	
#cf-options {
	float:left;
	width:960px;
	margin:0 0 10px 0;
}

	#cf-options img {
		width:100px;
		height:100px;
		cursor:pointer;
		border:1px solid #4c5b52;
		opacity:0.4;
	}

	#cf-options div {
		margin:20px 15%;
		float:left;
		width:100px;
		height:125px;
	}

	#cf-options h4 {
		width:80px;
		margin:0 10px;
		text-align:center;
		font-size:12px;
		color:#4c5b52;
	}

	#cf-options img:hover {
		opacity:1;
	}

#cf-donors .cf-title p:last-of-type {
	font: 300 .8em "helvetica neue";
	text-align:center;
	margin:45px 0 0 0;
	color:#8c9b93;
}

#cf-donors .cf-title span:first-of-type {
	margin:0 0 0 0;
}

#cf-donors .cf-title span:last-of-type {
	left:22%;
	position:relative;
}

.donor-row {
	height:225px;
	margin: 0 0 10px 0;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #8c9b93;
}


.donor-row:last-of-type {
	border:none;
}
	.donor-cell{
		width:37.295454545%;
		height:175px;
		float:left;
	}
	.donor-cell:first-of-type {
		border:none;
		width:24.25%;
	}
	.donor-cell:first-of-type p:first-of-type  {
		width:88%;
		margin:12px 0;
		text-align:left;
		font: 300 .9em "helvetica neue";
		color: #333;
	}
	
	.donor-cell:first-of-type p:last-of-type  {
		text-align: left;
		font: 300 .75em "helvetica neue";
		color: #8c9b93;
		margin: 0;
	}
	
	.donor-cell span {
		text-align:center;
	}
	.donor-cell span:last-of-type {
		color:#6aae35;
		font-size:1.3em;
		font-weight:300;
	}
	.donor-cell:last-of-type p, .donor-cell:nth-of-type(2) p   {
		font:400 .75em/1.2em "helvetica neue";
		color:#4c5b52;
		width:88%;
		margin:15px 10px;
		text-align:center;
	}
	.donor-cell img {
		margin:0 auto;
		width:50%;
		border:1px solid #8c9b93;
	}
.cf-canvas {
	font-family:"helvetica neue",san-serif;
}
.summary-row {
	margin: 0 0 10px 0;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #dee2e0;
}

.summary-row:last-of-type {
	border:none;
}

.summary-cell{
	width:33.33333333%;
	height:30px;
	float:left;
}

.summary-cell p {
	font: 300 .75em "helvetica neue";
	color: #666666;
	margin: -13px 0 0 0;
}

.summary-cell:nth-of-type(2) p, .summary-cell:last-of-type p {
	text-align:center;
}


#overview-header {
	border-bottom: 1px solid #8c9b93;
}

#overview-header {
	height:175px;
}

#overview-header .summary-cell {
	height:160px;
}

#overview-header .summary-cell p:first-of-type{
	text-align:center;
	font: 300 .9em "helvetica neue";
	color:#333;
	margin:0;
}

#overview-header img {
	margin:0 auto;
	width:100px;
	border:1px solid #8c9b93;
	display:block;
}

#overview-header .summary-cell p:last-of-type{
	text-align:center;
	font: 300 .75em "helvetica neue";
	color:#8c9b93;
	margin:0;
}



/* SUMMARY CHARTS */

.cf-head-labels {
	margin: 25px 0 0 0;	
}

.cf-head-labels div {
	float:left;
	width:24.863636364%;
}

.cf-head-labels div:first-of-type {
	margin-left:24.863636364%;
}

.cf-head-labels p {
	font-weight:300;
	font-size:.8em;
	color:#8c9b93;
	text-align:center;
}

#cf-head-label-0 p {
	left:31%;
}

#cf-head-label-1 p {
	top:6px;
	left:54%;
}

#cf-head-label-2 p {
	top:-28px;
	left:80%;
}



