	#cf-container h1, h2, h3 {
		font-family:"helvetica neue",helvetica,san-serif;
	}
	
	#cf-container {
		width:960px;
		margin:0 auto;
		overflow:hidden;
	}
	
	
	#loading {
		position:relative;
		height:300px;
		width:960px;
		top:0;
		left:0;
		text-align:center;
		margin:100px 0;
	}

	#loading h1 {
		font-size:4.5em;
	}

	#loading p {
		font-family:"helvetica neue",helvetica,san-serif;
		font-size:3em;
	}


	#cand-nointerface {
		display:none;
	}

	#cf-stacked {
		display:none;
	}

	#cf-legend {
		width:960px;
		height:100px;
	}

	.cf-legend-opt {
		width:51px;
		height:15px;
		padding:5px;
		float:left;
		margin:0 20px;
		border:1px solid #8c9b93;
	}

	.cf-legend-opt p {
		text-align:center;
		font-size:12px;
		font-weight:700;
		margin:30px 0 0 0;
	}

	.stacked-bar-chart {
		width:960px;
	}

	.stacked-bar-chart .bar-data {
		width:600px;
	}

	.bar-seg {
		height:30px;
		float:left;
	}

/* --------CANDIDATE INTRO--------  */

	#cand-intro {
		padding-bottom: 20px;
		margin: 0 0 20px 0;
		display:none;
	}

		#cand-summary {
			width:700px;
			clear:right;
			line-height:18px;
			height:120px;
			margin:20px;
		}

			#cand-summary p {
				margin:0 0 15px 0;
			}

		#cand-header {
			width:540px;
		}

			#cand-header h2 {
				font-size:24px;
			}

			#cand-header h4 {
				font-size:16px;
				font-weight:300;
				color:#8c9b93;
				margin:10px 0 0 0;
			}


		#cand-photo {
			float:left;
			margin:20px;
			height:120px;
		}	

			#cand-photo img {
				border:1px solid #4c5b52;
				width:100px;
			}




	#cand-highlight {
		width:960px;
		height:300px;
		border-bottom:10px double #4c5b52;
		display:none;

	}

		#cand-highlight h2 {
			font-size:24px;
			margin:10px 0 0 0;
		}

		.highlights {
			float:left;
			width:300px;
			margin: 15px 19px 50px 0;
			height: 200px;
			border-right: solid 1px #8c9b93;
		}

		#cand-highlight div:last-of-type {
			border:none;
		}

			.highlights h4 {
				color:#4c5b52;
				font-size:67px;
				margin:50px 0 0 0;
				text-align:center;
			}

			.highlights p {
				color:#8c9b93;
				font-size:14px;
				margin:0 0 0 0;
				text-align:center;
			}

	#chart-footer {
	}		

/* --------CF OVERVIEW--------  */
	#cf-container h2 {
		font-size:24px;
		margin:0 0 20px 0;
	}

	#cf-text {
		padding:20px 0 20px 0;
		border-bottom:solid 2px #4c5b52;
		line-height: 20px;
	}	

	#cand-chart {
		height:1px;
		border-bottom:solid 2px #4c5b52;
		border-top:10px double #4c5b52;
		visibility:hidden;
	}
	#cf-chart {
		border-bottom:double 10px #4c5b52;
		border-top:10px double #4c5b52;
		visibility:hidden;
		height: 792px;
		overflow-y: scroll;
		overflow-x: hidden;
	}	

	#cf-choose {
		margin:10px 0 0 0;
		width:960px;
		height:60px;
	}
	
	#cf-choose-text {
		width:960px;
		height:24px;
	}
	
	#cf-choose-text h4 {
		float:left;
		margin:0 0 0 0;
	}

	.cf-iframe-hold {
		z-index:0;
	}

	#cf-choose-text h4:nth-of-type(2) {
		margin:0 0 0 31%;
	}
	
	#cf-choose-text h4:last-of-type {
		margin:0 0 0 19%;
		display:none;
	}

	#cf-draw {

	}

	#cf-summary {
		padding: 0 0 25px 0;
	}

	#cf-iframe iframe {
		border-bottom:1px solid #aaa;
	}

	#cf-contribute {
		display:none;
		width:960px;
	}

	#cf-geography, #cf-expenses, #cf-achieve, #cf-employ {display:none;}


	.cf-detail {
		width: 200px;
		border: dashed 2px #4c5b52;
		float:left;
		padding: 0px;
		margin: 0 10px 0 0;
		cursor: pointer;
		background: #F8F7F1;
		text-align: center;
	}

	.cf-detail:hover {
		border:solid 2px #4c5b52;
	}

	.cf-detail p {
		color:#4C5B52;
		font-weight:900 !important;
		background:#d3d3d3;
	}

	.bar-chart {
		width:960px;
		min-height:200px;
	}

	.cf-head {
		width:960px;
		height:145px;
	}
	
	.cf-stack-head {
		width:960px;
		height:170px;
	}

	.cf-title {
		width:960px;
	}

	.cf-title h2 {
		margin:0 0 0 0 !important;
		font-size:1.5em;
	}

	.cf-title h4 {
		font-family:"helvetica neue",helvetica,san-serif;
		font-weight:400;
		margin:5px 0 20px 0 !important;
		font-size:1.2em;
	}


	.bar-row, .stacked-bar-row {
		height:30px;
		margin:0 0 15px 0;

	}

	.pointer {
		cursor:pointer;

	}


	.bar-label {
		font-size:12px;
		text-align:right;
		border-right:1px solid #000;
		padding:0 10px 0 0;
		height:100%;
		float:left;
		margin:0 0 0 0;

	}

		.bar-label p {
			margin:10px 0
		}

	.bar-data {
		width:0;
		height:30px;
		float:left;
	}

		.bar-data p {
			text-align:right;
			font-size:14px;
			margin:6px 5px 6px 0;
			color:#000000;
			font-weight:700;
		}

	.chart-h4 {
		text-align: center;
		font-size: 36px;
		color: #91cf60;
	}

	.cf-infobox {
		float:left;
		width:280px;
		height:auto;
		margin:10px 10px 10px 10px;
		padding:8px;
		border:2px solid #8c9b93;
	}	

		.cf-infobox h4 {
			font-weight:400;
			font-size:18px;
			margin-bottom:10px;
		}

		.cf-infobox li span:first-of-type {
			font-weight:700;
		}


	#cf-industry, #cf-industry .drill-bar-chart {
		display:none;
	}

	.chart-footer {
		font-style:italic;
		font-size:12px;
		color:#8c9b93;
		margin:30px 0 15px 0;
	}
	
#cf-options {
	float:left;
	width:960px;
	margin:0 0 10px 0;
}

	#cf-options img {
		width:100px;
		height:100px;
		cursor:pointer;
		border:1px solid #4c5b52;
		opacity:0.4;
	}

	#cf-options div {
		margin:20px 15%;
		float:left;
		width:100px;
		height:125px;
	}

	#cf-options h4 {
		width:80px;
		margin:0 10px;
		text-align:center;
		font-size:12px;
		color:#4c5b52;
	}

	#cf-options img:hover {
		opacity:1;
	}

#cf-donors .cf-title p {
	font: 300 1em "helvetica neue";
	margin:45px 0 0 25%;
	color:#8c9b93;
}

#cf-donors .cf-title span:first-of-type {
	margin:0 22% 0 0;
}

.donor-row {
	height:175px;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #8c9b93;
}
.donor-row:last-of-type {
	border:none;
}
	.donor-cell{
		width:37.295454545%;
		height:175px;
		float:left;
		border-left:1px solid #8c9b93;
	}
	.donor-cell:first-of-type {
		border:none;
		width:24.863636364%;
	}
	.donor-cell:first-of-type p  {
		font:300 .8em/1em "helvetica neue";
		color:#4c5b52;
		width:88%;
		margin:12px 0;
		text-align:left;
	}
	.donor-cell span {
		text-align:center;
	}
	.donor-cell span:last-of-type {
		color:#91cf60;
		font-weight:700;
	}
	.donor-cell:last-of-type p, .donor-cell:nth-of-type(2) p   {
		font:400 .8em/1.2em "helvetica neue";
		color:#4c5b52;
		width:88%;
		margin:15px 10px;
		text-align:center;
	}
	.donor-cell img {
		margin:0 auto;
		width:75px;
		height:75px;
		border:1px solid #8c9b93;
	}
.cf-canvas {
	font-family:"helvetica neue",san-serif;
}
.summary-row {
	height:125px;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #8c9b93;
}
.summary-row:last-of-type {
	border:none;
}
	.summary-cell{
		width:24.863636364%;
		height:125px;
		float:left;
		border-left:1px solid #8c9b93;
	}
	.summary-cell:first-of-type {
		border:none;
	}
	.summary-cell p:first-of-type {
		text-align:center;
		font: 700 1.5em "helvetica neue";
		margin: 42px 0;
		color:#5FADCE;
	}
	.summary-cell img {
		margin:0 auto;
		width:75px;
		height:75px;
		border:1px solid #8c9b93;
	}
	.summary-cell p:last-of-type {
		text-align:center;
		font:300 .8em/1em "helvetica neue";
		color:#4c5b52;
	}
	.summary-cell:first-of-type p  {
		font:300 .8em/1em "helvetica neue";
		color:#4c5b52;
		width:88%;
		margin:12px 0;
		text-align:left;
	}

/* SUMMARY CHARTS */

.cf-head-labels {
	border-bottom:1px solid #aaa;
	height:60px;
}

.cf-head-labels p {
	position:relative;
	font-weight:300;
}

#cf-head-label-0 p {
	top:40px;
	left:31%;
}

#cf-head-label-1 p {
	top:6px;
	left:54%;
}

#cf-head-label-2 p {
	top:-28px;
	left:80%;
}

#cf-overview .cf-head {
	height:140px;
}

